Repository rssrn/birdbird: changes, and which pre-commit hooks are due for each by the changed paths.
All: html-validate, eslint, stylelint, cspell, ruff, ruff-format, bandit, mypy, pytest, a11y

html-validate:
  name: HTML validation (html-validate)
  entry: npx html-validate
  language: system

eslint:
  name: JavaScript validation (eslint)
  entry: npx eslint --no-warn-ignored
  language: system

stylelint:
  name: CSS validation (stylelint)
  entry: npx stylelint --allow-empty-input
  language: system

cspell:
  name: Spell check (cspell)
  entry: npx cspell --no-progress --no-summary
  language: system

ruff:
  name: Lint (ruff)
  entry: .venv/bin/ruff check --fix
  language: system

ruff-format:
  name: Format (ruff)
  entry: .venv/bin/ruff format
  language: system

bandit:
  name: Security lint (bandit)
  entry: .venv/bin/bandit -r src/birdbird/ -q -c pyproject.toml
  language: system
  pass_filenames: false

mypy:
  name: Type checking (mypy)
  entry: .venv/bin/mypy src/birdbird
  language: system
  pass_filenames: false

pytest:
  name: Tests (pytest)
  entry: .venv/bin/pytest
  language: system
  pass_filenames: false

a11y:
  name: Accessibility testing (pa11y)
  ...

Refactor all tests: replace nested with-patch blocks with mocker fixture
  tests/test_detector.py
  tests/test_filter_mock.py
  tests/test_frames_mock.py
  tests/test_highlights_mock.py
  tests/test_publish_mock.py
  tests/test_songs_mock.py
  tests/test_species_mock.py
Due: ruff, ruff-format, bandit, mypy, pytest

Add tests for frames.py: save_frame_metadata, save_top_frames, copy_top_frames_to_assets
  tests/test_frames_mock.py
Due: ruff, ruff-format, bandit, mypy, pytest

Add species.py tests: parse_labels_file, check_remote_connection, aggregate_species_summary, save_species_results, identify_species validation
  tests/test_species_mock.py
Due: ruff, ruff-format, bandit, mypy, pytest

Document mocker.patch style and pre-commit ruff format tip in CLAUDE.md
  CLAUDE.md
Due: cspell

Add tests for remaining coverage gaps: _windows_to_wsl_path, save_best_clips, publish batch prompt
  tests/test_best_clips.py
  tests/test_publish_mock.py
  tests/test_species_mock.py
Due: ruff, ruff-format, bandit, mypy, pytest

Add test coverage threshold (58%) to block regressions via pre-commit
  pyproject.toml
Due: none

Fix pre-commit autoupdate workflow permissions for branch push and PR creation
  .github/workflows/pre-commit-autoupdate.yml
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add reviewer notifications for automated PRs (pre-commit autoupdate + Dependabot)
  .github/dependabot.yml
  .github/workflows/pre-commit-autoupdate.yml
Due: none

fix: pin pygments>=2.20.0 and requests>=2.33.0 to address CVEs
  pyproject.toml
Due: none

ci: add monthly check for redundant CVE version pins
  .github/workflows/pin-check.yml
  scripts/check_redundant_pins.py
Due: ruff, ruff-format, bandit, mypy, pytest

ci: group pip dependabot updates into a single PR
  .github/dependabot.yml
Due: none

fix: bump pillow/pytest/pip to patch 3 new CVEs
  .github/workflows/security-audit.yml
  pyproject.toml
Due: none

fix: upgrade pip before audit to resolve CVE-2026-3219
  .github/workflows/security-audit.yml
Due: none

fix: audit full dependency tree in security workflow
  .github/workflows/security-audit.yml
Due: none

fix: suppress expected birdbird skip message in pip-audit
  .github/workflows/security-audit.yml
Due: none

fix: suppress torch PYSEC-2026-139 in pip-audit (no fix available)
  .pre-commit-config.yaml
Due: none

feat: mobile-responsive layout for highlights viewer
  cspell.json
  src/birdbird/templates/index.html
  src/birdbird/templates/styles.css
Due: html-validate, eslint, stylelint, cspell, a11y

docs: document deploy-birdbird-viewer script for viewer deployment
  CLAUDE.md
Due: cspell

feat: add pip-compile lockfile for full transitive dependency scanning
  .pre-commit-config.yaml
  pyproject.toml
  requirements.lock
Due: none

fix: rename requirements.lock to requirements.txt for GitHub dependency graph detection
  .pre-commit-config.yaml
  requirements.txt
Due: none

feat: add meta description tag for SEO
  src/birdbird/templates/index.html
Due: html-validate, eslint, stylelint, cspell, a11y

Replace div#main-content with <main> landmark element
  src/birdbird/templates/index.html
Due: html-validate, eslint, stylelint, cspell, a11y

Conditionally load config.local.js only in development
  src/birdbird/templates/index.html
Due: html-validate, eslint, stylelint, cspell, a11y

feat: add meta description tags to method, credits, and accessibility pages
  src/birdbird/templates/accessibility.html
  src/birdbird/templates/credits.html
  src/birdbird/templates/method.html
Due: html-validate, eslint, stylelint, cspell, a11y

fix: preserve script load order for config.local.js in development
  src/birdbird/templates/index.html
Due: html-validate, eslint, stylelint, cspell, a11y

fix: pin mpmath to 1.3.0 to satisfy sympy==1.14.0 constraint
  requirements.txt
Due: none

fix: pin mpmath<1.4 to satisfy sympy==1.14.0 constraint
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
Due: none

fix: suppress PYSEC-2025-194 (torch, no fix available)
  .pre-commit-config.yaml
Due: none

fix: add -movflags +faststart to MP4 output for instant browser playback
  .gitignore
  scripts/migrate_faststart.py
  src/birdbird/highlights.py
Due: ruff, ruff-format, bandit, mypy, pytest

fix: revert mpmath bump to respect sympy==1.14.0 constraint
  pyproject.toml
  requirements.txt
Due: none

fix: pin msgpack>=1.2.1 to address GHSA-6v7p-g79w-8964
  pyproject.toml
  requirements.txt
Due: none

fix: pin h5py<3.15 to respect tensorflow==2.21.0 constraint
  pyproject.toml
  requirements.txt
Due: none

fix: bump torch to >=2.12.1 to resolve CVE-2025-3000 (GHSA-rrmf-rvhw-rf47)
  pyproject.toml
Due: none

Path conditions:
  html-validate: any of: \.html$
  eslint: any of: \.(html|js)$
  stylelint: any of: \.(css|html)$
  cspell: any of: \.(html|md)$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  bandit: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  a11y: any of: \.(html|css|js)$
