Repository rssrn/birdbird: changes, and which pre-commit hooks are due for each by the changed paths.
All: html-validate, eslint, stylelint, cspell, pytest-fast

html-validate:
  name: Validate HTML structure
  entry: npx html-validate
  language: system

eslint:
  name: Validate JavaScript
  entry: npx eslint --no-warn-ignored
  language: system

stylelint:
  name: Validate CSS
  entry: npx stylelint --allow-empty-input
  language: system

cspell:
  name: Spellcheck (British English)
  entry: npx cspell --no-progress --no-summary
  language: system

pytest-fast:
  name: Run fast tests
  entry: .venv/bin/pytest -m "not slow"
  language: system
  pass_filenames: false

Add Layer 2 mocked unit tests (72 tests, detector/filter/highlights/songs/publish/frames)
  .pre-commit-config.yaml
  README.md
  cspell.json
  pyproject.toml
  tests/conftest.py
  tests/test_detector.py
  tests/test_filter_mock.py
  tests/test_frames_mock.py
  tests/test_highlights_mock.py
  tests/test_publish_mock.py
  tests/test_songs_mock.py
Due: cspell, pytest-fast

Add local GPU support for species identification (untested)
  CLAUDE.md
  README.md
  pyproject.toml
  src/birdbird/species.py
  tests/test_species_mock.py
Due: cspell, pytest-fast

Add project history and time tracking methodology
  PROJECT-HISTORY.md
  cspell.json
Due: cspell

Round timeline hours to nearest half hour
  PROJECT-HISTORY.md
Due: cspell

Pin pillow>=12.1.1 to fix CVE-2026-25990
  pyproject.toml
Due: none

Ignore CVE-2026-1669 in pip-audit (keras, no fix available)
  .pre-commit-config.yaml
Due: none

Add ruff lint/format pre-commit hooks and fix existing violations
  .pre-commit-config.yaml
  pyproject.toml
  src/birdbird/cli.py
  src/birdbird/config.py
  src/birdbird/frames.py
  src/birdbird/highlights.py
  src/birdbird/paths.py
  src/birdbird/publish.py
  src/birdbird/songs.py
  src/birdbird/species.py
Due: pytest-fast

Remove internal IP address from CLAUDE.md and test fixtures
  CLAUDE.md
  tests/conftest.py
  tests/test_config.py
Due: cspell, pytest-fast

Fix license badge and add ruff/demo badges to README
  README.md
Due: cspell

Replace Ruff badge with pre-commit and mypy badges
  README.md
Due: cspell

Add utilities/ directory with R2 maintenance scripts
  utilities/README.md
  utilities/remove_batch.py
  utilities/update_metadata.py
Due: cspell, pytest-fast

Add screenshots to README
  README.md
  docs/screenshots/viewer-audio-stats.png
  docs/screenshots/viewer-highlights.png
  docs/screenshots/viewer-how-it-works.png
  docs/screenshots/viewer-video-stats.png
Due: cspell

minor text amend in README.md
  README.md
Due: cspell

more text amends in README.md
  README.md
Due: cspell

Add GitHub Actions workflow to run fast tests on push
  .github/workflows/tests.yml
Due: none

Narrow CI trigger to src/, tests/, pyproject.toml changes only
  .github/workflows/tests.yml
Due: none

Fix CI disk exhaustion: skip heavy ML deps (ultralytics, birdnet-analyzer)
  .github/workflows/tests.yml
Due: none

Add workflow_dispatch trigger for manual CI runs
  .github/workflows/tests.yml
Due: none

Stub ultralytics in conftest to fix CI test collection without ML deps
  tests/conftest.py
Due: pytest-fast

Stub birdnet_analyzer in conftest to fix remaining CI test failures
  tests/conftest.py
Due: pytest-fast

Add GitHub Actions tests badge to README
  README.md
Due: cspell

Remove milestones from CLAUDE.md, now tracked in TODO.md
  CLAUDE.md
Due: cspell

Add original milestones to TODO.md
  TODO.md
Due: cspell

Document species and best_clips CLI commands in CLAUDE.md
  CLAUDE.md
Due: cspell

Fix README inaccuracies: license, test list, pre-commit hooks
  README.md
Due: cspell

tweak milestones and future ideas
  README.md
Due: cspell

Link "birdbird" in footer and credits to public GitHub repo
  src/birdbird/templates/accessibility.html
  src/birdbird/templates/config-loader.js
  src/birdbird/templates/credits.html
  src/birdbird/templates/index.html
  src/birdbird/templates/method.html
Due: html-validate, eslint, stylelint, cspell

Tidy up credits.html: restructure sections and add missing tools
  cspell.json
  src/birdbird/templates/credits.html
Due: html-validate, eslint, stylelint, cspell

add umami tracking code
  src/birdbird/templates/config.js
Due: eslint

remove umami tracking code (wrong repo)
  src/birdbird/templates/config.js
Due: eslint

Fix analytics injection: use createElement instead of innerHTML
  src/birdbird/templates/config-loader.js
Due: eslint

Add .mcp.json to .gitignore
  .gitignore
Due: none

Add weekly dependency security audit (Dependabot + pip-audit)
  .github/dependabot.yml
  .github/workflows/security-audit.yml
  CLAUDE.md
  cspell.json
Due: cspell

Remove dependabot.yml to avoid noisy version update PRs
  .github/dependabot.yml
Due: none

Move bandit and ruff to pre-commit repo mechanism for easier updates
  .pre-commit-config.yaml
  review_person_detections.py
  src/birdbird/best_clips.py
  src/birdbird/detector.py
  tests/test_best_clips.py
  tests/test_detector.py
  tests/test_filter_mock.py
  tests/test_frames_mock.py
  tests/test_highlights_mock.py
  tests/test_publish.py
  tests/test_publish_mock.py
  tests/test_songs.py
  tests/test_songs_mock.py
  tests/test_species_mock.py
Due: pytest-fast

Add weekly CI to auto-update pre-commit hook versions
  .github/workflows/pre-commit-autoupdate.yml
Due: none

Upgrade GitHub Actions to Node.js 22 runtime versions
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/security-audit.yml
  .github/workflows/tests.yml
Due: none

Add tests for publish.py orchestration functions (upload_batch, update_latest_json, publish_to_r2)
  tests/test_publish_mock.py
Due: pytest-fast

Add tests for generate_highlights() orchestration
  tests/test_highlights_mock.py
Due: pytest-fast

Add tests for generate_highlights() using mocker for flat, readable patches
  tests/test_highlights_mock.py
Due: pytest-fast

Path conditions:
  html-validate: any of: \.html$
  eslint: any of: \.(html|js)$
  stylelint: any of: \.(css|html)$
  cspell: any of: \.(html|md)$
  pytest-fast: any of: \.py$
